body {
  min-height: 100vh;
  width: 100vw;
  text-align: center;
}

//------------------------------- page ---------------------------------
.wrap {
  position: relative;

  @include flexible(flex-start, flex-start, wrap);

  max-width: $max-width;
  margin: 0 auto;

  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

//------------------------------- header + main + aside + footer -------

.container {
  @include flexible(flex-start, flex-start, wrap);
  width: 100%;
  // height: 100vh;
  margin-left: 5%;

  @include sm {
    @include flexible(flex-start, center, nowrap, column);
  }

  @include md {
    width: 100%;    
    margin: 0;
  }
}

//------------------------------- aside + footer ----------------------
.container-inside {
  align-self: stretch;
  @include flexible(flex-start, center, nowrap, column);
  
  width: $container-inside-width;
  box-shadow: -3px 0px 5px -5px #888888;

  @include sm {
    width: 100%;
  }
}
