//--------------------- Flexbox Layout --------------------------

@mixin flexible($content, $items, $wrap: nowrap, $direction: row) {
  display: flex;
  justify-content: $content;
  align-items: $items;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

// @mixin adaptive-font($pcSize, $mobSize) {
//   $addSize: $pcSize - $mobSize;
//   $max-width: $max-width - 320;
//   font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$max-width}));
// }


//------------------- Text style modules ------------------------

@mixin primary-title {
  font-size: 14px;
  font-weight: 900;
  color: $theme-title-color;
}

@mixin paragraph-style {
  font-size: 12px;  
  font-weight: 700;
  color: $theme-paragraph-color;
}

//---------------- Buttons & input style modules -----------------
@mixin bnt-input-border {
  &:active,
  &:focus {
    outline: none;
  }
}

@mixin btn-style($url, $btn-size, $border-w: 0) {
  height: $btn-size;
  width: $small-btn-size;

  border: none;
  border-right: $border-w solid #f1f1f1;
  background: transparent $url no-repeat center;

  &:hover {    
    background-color: $hover-color;
  }

  @include bnt-input-border;
}

//------------------ Statistic text & list style module ----------------
@mixin statistic-list {
  &__list {
    width: 50%;
    padding: 0;
    @include flexible(space-around, center);
  }
  
  &__item {
    @include paragraph-style;
  
    &:first-child{
      list-style-image: $pic-purple-triangle;
    }
  
    &:last-child {
      list-style-image: $pic-pink-triangle;
    }
  }
}

@mixin statistic-text {
  &__text {
    margin-bottom: 0.5em;

    background: $theme-bg;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


//------------------ Adaptive for different screen sizes -------------
  
// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-max}) {
      @content;
  }
}

