//--------------------- Layout widths ------------------------------
$max-width: 1366px;
$container-inside-width: 271px;

//--------------------- Layout colors ------------------------------
$theme-color: #fc715d;
$theme-bg: linear-gradient(#fc6863, #fc6c61, #fd5570);
$theme-title-color: #777777;
$theme-paragraph-color: #bfbfbf;

//--------------------- Screen sizes -------------------------------

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1280px;

//--------------------- Triangular pointer size --------------------
$triangle-base: 8px;
$triangle-edge: 6px;

//--------------------- Pic btn sizes ------------------------------
$small-btn-size: 30px;
$big-btn-size: 70px;

//
$line-width: 2px;

//--------------------- Btn :hover color ---------------------------
$hover-color: #fffafa;

//--------------------- Pictures url -------------------------------
$pic-more: url(../../source/img/header/more.png);
$pic-folder: url(../../source/img/header/folder.png);
$pic-properties: url(../../source/img/header/properties.png);
$pic-upload: url(../../source/img/header/upload.png);
$pic-envelope: url(../../source/img/header/envelope.png);
$pic-planet: url(../../source/img/header/planet.png);
$pic-settings: url(../../source/img/icons/settings.png);
$pic-settings-white: url(../../source/img/main/settings-white.png);

$pic-chat-grey: url(../../source/img/aside/icons/chat-grey.png);
$pic-search: url(../../source/img/icons/search.png);
$pic-pencil: url(../../source/img/aside/icons/pencil.png);

$pic-purple-triangle: url(../../source/img/icons/purple-triangle.png);
$pic-pink-triangle: url(../../source/img/icons/pink-triangle.png);
