.footer {
  @include flexible(space-around, center, wrap, column);  
  
  width: 100%;
  margin-top: auto;  
  padding: 1.5em;

  @include sm {
    justify-content: center; 
  }

  &__title {
    @include primary-title;
    margin-bottom: 1.5em;
  }

  &__icons {
    width: 100%;
  }

  &__list {
    @include flexible(center, center, wrap); 
    padding: 0;
    list-style: none;

    @include md {
      width: 80%;
      margin: 0 auto;
    }
  }

  &__item {    
    height: 55px;
    width: 55px;
    margin: 6.5px;  

    border-radius: 15px; 
    
    &--rdio {
      background-color: #655ba5;
    } 

    &--css-3 {
      background-color: #3fb6a4;
    }
     
    &--deviantart {
      background-color: #936c6a;
    }
     
    &--xing {
      background-color: #655ba5;
    }
     
    &--vimeo {
      background-color: #4082bf;
    }
     
    &--vk {
      background-color: #ffa500;
    }

    &:hover {
      animation: 1.2s ease-in-out 0s normal none running trambling-animation;
    }
  }

  &__link {
    @include flexible(center, center); 
    height: 100%;
    width: 100%;
  }
}
