.header {background-color: cadetblue;
  width: 100%;

  @include flexible(center, flex-start, nowrap, column);

  overflow: hidden;
}

.header-daily {
  width: 100%;
  @include flexible(flex-start, center, nowrap);
  padding: 0.5em;

  @include primary-title;
  font-size: 12px;
  @include statistic-text;

  &__title {
    margin-bottom: 0.5em;
    white-space: nowrap;
  }

  &__text {
    font-size: 20px;
  }

  &__list {
    @include flexible(space-around, center, nowrap);
    width: 100%;
    padding: 0.1em;
    
    list-style: none;
    overflow: auto;

    @include statistic-list;
    &__list {
      width: 100%;
      list-style-position: inside;
    }
  }

  &__item {
    @include flexible(center, flex-start, nowrap, column);
    padding: 1em; 
    min-width: 120px;   
    // color: $theme-color;
  }

  &__btn {
    @include bnt-input-border;

    font-weight: 900;
    color: $theme-color;

    border: none;
    background: transparent;
    white-space: nowrap;

    &:hover {
      animation: 1.2s ease-in-out 0s normal none running trambling-animation;
    }
  }
}