.header {
  @include flexible(center, flex-start, nowrap, column);
  width: 100%;
}

//------------------------------ .header__nav ------------------------
.header-nav {
  @include flexible(space-around, center, nowrap);
  width: 100%;

  border-bottom: 2px solid #f1f1f1;
  
  &__form {
    @include sm {
      display: none;
    }
  }

  &__btn {    
    @include bnt-input-border;    
    
    flex-grow: 1;
    
    @include md {
      width: 30px;
    }
    
    &--more {
      @include btn-style($pic-more, $big-btn-size, $line-width);
    }

    &--folder {
      @include btn-style($pic-folder, $big-btn-size, $line-width);
    }

    &--properties {
      @include btn-style($pic-properties, $big-btn-size, $line-width);
    }

    &--upload {
      @include btn-style($pic-upload, $big-btn-size, $line-width);
      border-left: $line-width solid #f7f7f7;
    }

    &--envelope {
      @include btn-style($pic-envelope, $big-btn-size, $line-width);
    }

    &--planet {
      @include btn-style($pic-planet, $big-btn-size);
    }    
  }

  &__form {
    @include flexible(space-around, center, nowrap);
    flex-grow: 2;

    @include sm {
     display: none;
    }
  }

  //-------------- .header-nav__search
  &__search {
    margin: 0 10%;
    width: 30%;
    min-width: 40px;
    font-size: 12px;

    background: right / contain no-repeat $pic-search, #fcfcfc;
    border: 5px solid transparent;
    border-radius: 15px;

    &::placeholder {
      color: #c8c8c8;
    }

    @include md {
      margin: 0 $line-width;
      width: $big-btn-size;
      &::placeholder {
        color: transparent;
      }
    }
  }

  //------------- .header-nav__user
  &__user {
    @include flexible(space-between, center, nowrap);
    width: 254px;

    @include sm {
      width: 100%;
      justify-content: space-between;
    }

    &-pic {
      margin-right: 1.125em;
    }

    &-text {
      @include flexible(center, flex-start, nowrap, column);
      margin-right: 3em;
      white-space: nowrap;
    }

    &-text p {      
      @include primary-title;
      margin-bottom: 0.5em;

      font-size: 13px;
    }    

    &-text span {
      @include paragraph-style;
    }

    &-btn {
      @include bnt-input-border;
      @include btn-style($pic-settings, $small-btn-size);
    }
  }

}

//------------------------------ .header__daily ----------------------
.header-daily {
  width: 100%;
  @include flexible(flex-start, center, nowrap);
  padding: 0.5em;

  @include primary-title;
  font-size: 12px;
  @include statistic-text;
  overflow: auto;

  &__title {
    margin-bottom: 0.5em;
    white-space: nowrap;
  }

  &__text {
    font-size: 20px;
  }

  &__list {
    @include flexible(space-around, center, nowrap);
    width: 100%;
    padding: 0.1em;
    
    list-style: none;
    //overflow: auto;

    @include statistic-list;
    &__list {
      width: 100%;
      list-style-position: inside;
    }
  }

  &__item {
    @include flexible(center, flex-start, nowrap, column);
    padding: 1em; 
    min-width: 120px;   
  }

  &__btn {
    @include bnt-input-border;

    font-weight: 900;
    color: $theme-color;

    border: none;
    background: transparent;
    white-space: nowrap;

    &:hover {
      animation: 1.2s ease-in-out 0s normal none running trambling-animation;
    }
  }
}
