.main {
  @include flexible(space-between, center, wrap);

  @include sm {
    width: 100%;
  }
  
  width: calc(100% - #{$container-inside-width});
  min-width: 320px;

  padding-top: 1.25em;
  padding-left: 1.25em;

  background-color: #ebebeb;

  overflow: hidden;

  &__box {
    @include flexible(center, center, nowrap, column);

    margin-right: 1.25em;
    margin-bottom: 1.25em;
    padding: 1.5em;

    box-shadow: 0px 0px 10px #888888;
    background-color:#ffffff;
  }

  &__title {
    @include primary-title;
    margin-bottom: 1.875em;

    &--left {
      align-self: flex-start;
    }
  }

  &__img {
    margin-bottom: 1.5em;
  }
}

//------------------------- monthly-revelue -------------------------------
.monthly-revelue {  
  @include paragraph-style;
  flex-grow: 1;
  
  @include statistic-text;
  overflow-x: auto;

  //------------------------- monthly-revelue____interval
  &__interval {
    align-self: flex-end;
    @include flexible(space-between, center, nowrap);
  }

  //------------------------- monthly-revelue__list
  &__list {
    width: 40%;
    @include flexible(space-between, center, nowrap);
    padding: 0;
    
    list-style: none;
  }

  &__item {
    padding: 0.2em 1em;
    margin: 0 0.1em;

    &:last-child {
      height: 20px;
      background: $pic-settings no-repeat center;

      &:hover {
        background: center / contain no-repeat $pic-settings-white, linear-gradient(#fc6863, #fc6c61, #fd5570);
      }
    }

    &:hover {
      background: linear-gradient(#fc6863, #fc6c61, #fd5570);
      border-radius: 15px;

      color: #ffffff;
    }
  }

  //------------------------- monthly-revelue__img

  &__img {
    max-width: 100%;
  }
}

//------------------------- customers-feed --------------------------------
.customers-feed {
  @include flexible(center, center, nowrap, column);

  flex: auto;
  align-self: stretch;
  // min-height: 508px;

  overflow-y: auto;

  &__content {
    @include flexible(flex-start, center);
  }

//--------------------- feed users photo
  &__user {
    position: relative;

    @include flexible(space-between, flex-start, nowrap, column);
    @include sm {
      min-height: 470px;
    }

    min-height: 350px;
    margin-right: 1em;

    &-avatar {
      @include paragraph-style;
      font-size: 10px;
    }

//------------------ feed vertical line
    &::after {
      content: '';
      
      @include sm {
        display: none;
      }

      position: absolute;
      left: 5em;
      bottom: 30%;

      height: 10em;
      width: 3px;

      background-color: $border-color;

    }
  }

//--------------------- feed content
  &__feed {
    @include flexible(space-between, flex-end, nowrap, column); 
    width: 80%;
  }

  &__user-name {
    @include primary-title;

    max-width: 95%;
    padding: 1em;
    margin-bottom: 1em;

    border: $line-width solid $border-color;
    background-color: #fafafa;

    text-align: left;

    &:nth-child(n + 2):nth-child(-n + 3) {
      max-width: 85%;
    }
  }

  &__user-feed {
    @include paragraph-style;
  }
}

//------------------------- todays-task ------------------------------------
.todays-task {
  flex: auto;
  min-height: 258px;

  @include paragraph-style;
  white-space: nowrap;

  overflow: auto;


  &__list {
    @include flexible(flex-start, center, nowrap, column);
    width: 100%;
    padding: 0;

    border-bottom: 2px solid #ededed;
    list-style: none;

    overflow: auto;
  }

  &__item {    
    @include flexible(space-between, center);
    width: 100%;
    padding: 1em 0;

    border-top: 2px solid #ededed;
  }

  //---------------------- task, feed, time
  &__task {
    color: $theme-color;

    font-weight: 900;
  }

  &__feed {
    padding: 0 1.3em;

    @include md {
      width: 40%;
      
      overflow: hidden;
    }
  }

  &__time {
    width: 80px;
    padding-left: 20px;

    background: $pic-wall-clock no-repeat left;
  }
}


//---------------------- checkbox

.todays-task__chbox {
  display: none;
}

.pseudocheckbox::before {  
  content: "\00A0";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;

  box-sizing: border-box;

  line-height: 16px;
  border: 2px solid #B0B0B0;
  border-radius: 50%;
  
  background-color: white;
  font-size: 16px;
  color: #808080;
 
}

input[type=checkbox]:checked + .pseudocheckbox::before { 
  content: "\2713"; 

  background: $theme-bg;
  border-color: $theme-color;
  
  color: #ffffff;
}


//------
.revenue-hour,
.progress-statistic,
.shipments {
  flex: auto;
  width: 241px;

  @include statistic-text;
  @include statistic-list;


  background-color:#ffffff;

  &__text {
    font-weight: 900;
    font-size: 20px;    
  }

  &__content {
    width: 100%;
  }
}

//------------------------- revenue-hour ---------------------------------
.revenue-hour {
  min-height: 270px;
  width: 264px;
}

//------------------------- progress-statistic ---------------------------
.progress-statistic {  
  order: 2;
  &__content {
    @include flexible(center, center, nowrap, column);
  }

  &__text {
    background: linear-gradient(#64699a, #666697, #6d3576);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

//------------------------- shipments -----------------------------------
.shipments {  
  order: 3;

  &__content {
    @include flexible(space-around, center, nowrap, row);
  }

  &__text {
    margin: 0;
  }
}

//------------------------ Widgets wrapper -------------------------------

.wrap-main {
  flex: auto;
  @include flexible(space-between, flex-start, wrap);

  max-width: 100%;
  margin: 0;
}

.wrap-inner {
  flex: auto;
  @include flexible(space-between, flex-start, wrap);

  max-width: 100%;
  margin: 0;
}