.main {
  @include flexible(space-between, center, wrap);
  // height: 87.7vh;
  // max-height: 835px;
  @include sm {
    width: 100%;
  }
  
  width: calc(100% - #{$container-inside-width});
  min-width: 320px;

  padding-top: 1.25em;
  padding-left: 1.25em;

  background-color: #ebebeb;

  &__box {
    // align-self: flex-start;
    @include flexible(center, center, nowrap, column);

    // width: 644px;
    // height: 100px;
    margin-right: 1.25em;
    margin-bottom: 1.25em;
    
    box-shadow: 0px 0px 10px #888888;
  }

  &__title {
    @include primary-title;
    margin-bottom: 1.875em;
  }
}

.monthly-revelue {
  width: 71%;
  height: 266px;
  padding: 1em;

  background: url(../../source/img/main/monthly-revenue-progress.png) darkslateblue center no-repeat;
}

.revenue-hour {
  width: 24%;
  height: 266px;
  padding: 1em;

  background: url(../../source/img/main/revenue-per-hour.png) darkslateblue center no-repeat;
}

.customers-feed {
  width: 467px;
  height: 508px;
  padding: 1em;

  background-color:darkslateblue;
}

.todays-task {
  width: 501px;
  height: 245px;
  padding: 1em;

  background-color:darkslateblue;
}

.progress-statistic,
.shipments {
  @include statistic-text-list;

  width: 241px;
  // height: 245px;
  padding: 1em;

  background-color:#ffffff;

  &__img {
    margin-bottom: 1.5em;
  }

  &__text {
    font-weight: 900;
    font-size: 20px;    
  }

  &__content {
    width: 100%;
  }

  @include sm {
    width: 100%;
  }
}

.progress-statistic {
  &__content {
    @include flexible(center, center, nowrap, column);
  }

  &__text {
    background: linear-gradient(#64699a, #666697, #6d3576);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.shipments {
  &__content {
    @include flexible(space-around, center, nowrap, row);
  }
}