.main {
  @include flexible(space-between, center, wrap);
  // height: 87.7vh;
  // max-height: 835px;
  @include sm {
    width: 100%;
  }
  
  width: calc(100% - #{$container-inside-width});
  min-width: 320px;

  padding-top: 1.25em;
  padding-left: 1.25em;

  background-color: #ebebeb;

  &__box {
    // align-self: flex-start;
    @include flexible(center, center, nowrap, column);

    // width: 644px;
    // height: 100px;
    margin-right: 1.25em;
    margin-bottom: 1.25em;
    
    box-shadow: 0px 0px 10px #888888;
    background-color:#ffffff;
  }

  &__title {
    @include primary-title;
    margin-bottom: 1.875em;

    &--left {
      align-self: flex-start;
    }
  }

  &__img {
    margin-bottom: 1.5em;
  }
}

.monthly-revelue {
  @include flexible(center, center, nowrap, column);
  @include statistic-text;
  // width: 71%;
  // height: 266px;
  padding: 1em;

  // background: url(../../source/img/main/monthly-revenue-progress.png) darkslateblue center no-repeat;
  overflow-x: auto;
}

.customers-feed {
  width: 35%;
  height: 508px;
  padding: 1em;

  background-color:darkslateblue;
}

.todays-task {
  flex-grow: 10;
  width: 60%;
  height: 245px;
  padding: 1em;

  background-color:darkslateblue;
}

.revenue-hour,
.progress-statistic,
.shipments {
  @include statistic-text;
  @include statistic-list;

  width: 241px;
  // height: 245px;
  padding: 1em;

  background-color:#ffffff;

  &__text {
    font-weight: 900;
    font-size: 20px;    
  }

  &__content {
    width: 100%;
  }

  @include sm {
    width: 100%;
  }
}

.revenue-hour {
  width: 264px;

  // &__list {
  //   margin: 1em 0;
  // }
}

.progress-statistic {
  &__content {
    @include flexible(center, center, nowrap, column);
  }

  &__text {
    background: linear-gradient(#64699a, #666697, #6d3576);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.shipments {
  &__content {
    @include flexible(space-around, center, nowrap, row);
  }

  &__text {
    margin: 0;
  }
}

//------------------------ Widgets wrapper -------------------------------

.wrap-main {
  width: 100%;
  justify-content: space-between;
  margin: 0;
}

.wrap-inner {
  max-width: 60%;
  justify-content: space-between;
  margin: 0;
}