.nav {
  // position: relative;
  @include flexible(flex-start, center, wrap, column);
  height: 100vh;
  width: 5%;

  background: $theme-bg;

  @include md {
    @include flexible(space-between, center);
    width: 100%;
    height: 70px;
  }

  //------------------ .nav__link --------------------

  &__link {
    position: relative;

    @include flexible(center, flex-end, wrap);

    height: 70px;
    width: 100%;

    font-size: 0.625em;
    color: #ffffff;
    text-decoration: none;
  }

  &__link:first-child {
    align-items: center;

    font-size: 1.87em;
    font-weight: 700;
    font-family: 'Indie Flower', cursive;
    color: $theme-color;
    background-color: #ffffff;

    box-shadow: 5px -1px 5px  #888888;

    @include md {
      width: 70px;
    }
  }

//------------------ All &__link except first-child ----------------------
  &__link:last-child {
    margin-top: auto;
    background: url(../../source/img/nav/power-button.png) no-repeat center;
  }

  &__link--home {
    background: url(../../source/img/nav/home.png) no-repeat center;
  }

  &__link--stactics {
    background: url(../../source/img/nav/stactics.png) no-repeat center;
  }

  &__link--users {
    background: url(../../source/img/nav/user.png) no-repeat center;
  }

  &__link--settings {
    background: url(../../source/img/nav/settings.png) no-repeat center;
  }

  &__link--information {
    background: url(../../source/img/nav/information.png) no-repeat center;
  }

// -------------------- :hover ---------------------------
  &__link:first-child:hover {
    background-color: #f2fff3;
  }

  &__link:hover {
    background-color: #fc6863;

    &:nth-child(1n + 2):after {
      content: '';
      position: absolute;
      top: 50%;
      left: 100%;

      width: 0;
      height: 0;

      border-top: 6px solid transparent;
      border-left: 8px solid $theme-color;
      border-bottom: 6px solid transparent;

    }
  }
//------------------------- nav__items hide, nav_burger show ------------
  &__link:nth-child(1n + 2) {
    @include md {
      display: none;
    }
  }
}

//------------------------- Gamburger menu ------------------------------
.nav__gamburger {
  display: none;
  position: relative;
  flex-direction: column;

  width: 30px;
  height: 5px;
  margin-right: 1em;

  background-color: #ffffff;

  cursor: pointer;

  @include md {
    display: flex;
  }
}


.nav__gamburger::before {
  content: '';
  position: absolute;
  top: 10px;
  width: 30px;
  height: 5px;

  background-color: #ffffff;
}

.nav__gamburger::after {
  content: '';
  position: absolute;
  top: -10px;
  width: 30px;
  height: 5px;

  background-color: #ffffff;
}